.ImagenTarjeta {
    width: 100%;
}
.fotoDePerfilTarjeta{
    width: 30px;
    height: 30px;
    border-radius: 500%;
}
.ContenedorTarjeta{
    display: grid;
    justify-content: center;
}
.cuerpoTarjeta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style:solid;
    border-top: none;
    border-color:var(--color-bordes);
}
.FotoYTitulo{
    display: flex;
    align-items: center;
}
.IconoCompartirTarjeta{
    color: grey;
    margin-right: 10px;
}
.Haiku{
    position: absolute;
    color:white;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.500);
}
.ImagenYHaiku{
    position: relative;
    display: inline-block;
    text-align:center;
    display: flex;
    justify-content: center;
}
